.header {
  background: url(../img/header/hero-desktop.png) center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 1148px;
      flex-basis: 1148px;
  height: 746px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.header__shop-title {
  font-family: "Open Sans";
  font-size: 51px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  width: 600px;
  margin: 80px 0 0 0;
}

.list-goods__item {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.list-goods__item1 {
  -ms-flex-preferred-size: 235px;
      flex-basis: 235px;
}

.list-goods__text1 {
  padding-left: 54px;
}

.list-goods__item2 {
  -ms-flex-preferred-size: 601px;
      flex-basis: 601px;
  -ms-flex-negative: 10;
      flex-shrink: 10;
}

.list-goods__text2 {
  padding-left: 33px;
}

.list-goods__item3 {
  -ms-flex-preferred-size: 313px;
      flex-basis: 313px;
}

.list-goods__text3 {
  padding-left: 36px;
  font-size: 15px;
  font-weight: 400;
}

.header__buttons {
  min-height: 123px;
  width: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 354px;
}

.header__buttons:before {
  content: '';
  background: url(../img/header/line.png) center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 45px;
  z-index: 1000;
}

.buttons__button1 {
  background-color: #56c3b2;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.buttons__button2 {
  background-color: #63d1bb;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.button1__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  width: 111px;
  display: inline-block;
  padding-left: 36px;
}

.button1__img {
  position: absolute;
  right: 36px;
  top: 30px;
}

.button2__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  width: 111px;
  display: inline-block;
  padding-left: 36px;
}

.button2__img {
  position: absolute;
  right: 36px;
  top: 30px;
}

.gray {
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .header__shop-title {
    font-size: 43px;
    font-weight: 700;
    width: 494px;
  }
}

@media (max-width: 576px) {
  .header {
    background: url(../img/header/hero-mobile.png) top no-repeat;
    height: 500px;
  }
  .header__list-goods {
    display: none;
  }
  .header__shop-title {
    font-size: 27px;
    font-weight: 700;
    margin-top: 65px;
    width: 244px;
  }
  .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 206px;
    margin-top: 120px;
    width: 100%;
  }
  .header__buttons:before {
    display: none;
  }
}

.button2__img {
  right: 25px;
}
/*# sourceMappingURL=header.css.map */